<form class="form-inline" role="form" novalidate *ngIf="!(authSvc.authenticated|async)" (ngSubmit)='login()'>
  <div class="input-group mr-2">
    <div class="input-group-prepend">
      <i class="input-group-text fa fa-user"></i>
    </div>
    <input [(ngModel)]='user.username' id="username" type="text" class="form-control form-control-sm" name="username" required>
  </div>
  <div class="input-group mr-2">
    <div class="input-group-prepend">
      <i class="input-group-text fa fa-lock"></i>
    </div>
    <input [(ngModel)]='user.password' id="password" type="password" class="form-control form-control-sm" name="password" value="" required>
  </div>
  <button type="submit" class="btn btn-light btn-sm">Login</button>
</form>
<span *ngIf="user?.name" class="mr-2 mt-1 text-white">Authenticated as: {{user.name}}</span>
<button type="button" class="btn btn-light btn-sm" *ngIf="authSvc.authenticated|async" (click)='logout()'>Logout</button>